@{
 Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Lets play ping pong!</h1>
</div>

<form action="/PingPongResult" method="post">
  <label for="number">Enter a number:</label>
  <input type="number" name="number" id="number" min="1">
  <button type="submit" class="btn">Submit!</button>
</form>
